$html-text-size: 10px;
$font-size: 1.4rem;
$font-size-header: 1.8rem;

$font-family: 'PT Sans', Arial, sans-serif;

$bg-color-base: #ffffff;
$text-color-base: #000000;
$bg-color-main: #81b3d2;
$bg-color-hover:#669ec0;
$color-active:#5496bd;
$color-disabled:#e5e5e5;
$color-checked:#d5d5d5;
$border-color-dark: #678fa8;
$border-color-light: #9ac2db;
$bg-color-secondary: #eeeeee;
$line-color: #d6d6d6;
$text-color-secondary: #ffffff;
$required-color: #ff0000;
$line-form-color: #e5e5e5;
$field-form-color: #f2f2f2;
$text-form-color: #b8b8b8;

$width-tablet: 768px;
$width-desktop: 1200px;
