.btn {
  display: block;
  font-size: $html-text-size * 2.1;
  line-height: 57px;
  height: 57px;
  background-color: $bg-color-main;
  color: $text-color-secondary;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 0;
  text-transform: uppercase;

  &--hotel {
    margin: 0 20px;
  }

  &--feedback {
    margin: 0 0 120px 0;
    width: 100%;
  }

  &--modal {
    width: 100%;
    margin: 0 0 35px 0;
  }
}
