.btn {
  display: block;
  font-size: $html-text-size * 2.1;
  line-height: 57px;
  height: 57px;
  background-color: $bg-color-main;
  color: $text-color-secondary;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 0;
  text-transform: uppercase;

  &:hover {
    background-color: $bg-color-hover;
    color: $bg-color-base;
  }

  &:active{
    background-color: $color-active;
    color: #94b9d2;
  }

  &--disabled {
    background-color: $color-disabled;
  }

  &--hotel {
    margin: 0 20px;

    @media(min-width: $width-tablet) {
      width: 458px;
      margin: 0 auto;
    }
  }

  &--feedback {
    margin: 0 0 116px 0;
    width: 100%;

    &:focus {
      outline: none;
    }

    @media(min-width: $width-tablet) {
      width: 458px;
      margin: 30px auto 120px auto;
    }
  }

  &--modal {
    width: 100%;
    margin: 0 0 35px 0;
  }
}
