.field-num {
  padding: 0 0 20px 0;
  cursor: pointer;
  &__item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: $field-form-color;
    height: 58px;
    width: 61px;
    text-align: center;
    line-height: 58px;
    margin-right: 4px;

    &--minus:before, &--plus:before, &--plus:after {
      content: '';
      width: 20px;
      height: 4px;
      background: $text-form-color;
      position: absolute;
      left: 21px;
      top: 27px;
      border-radius: 1px;
    }

    &--plus:after {
      transform: rotate3d(0, 0, 1, 90deg);
      transform-origin: 50% 50%;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  input {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: $field-form-color;
    height: 58px;
    text-align: center;
    line-height: 58px;
    width: 80px;
    margin-right: -4px;
    border: 0;
  }
}
