.form {
  padding: 0 20px;

  &__fieldset {
    position: relative;
    border: 0;
    border-top: 1px solid #9ac2db;
    padding: 0;
    margin: 0;
  }

  &__fieldset legend {
    position: absolute;
    top: 24px;
    left: 50%;
    right: 50%;
    width: 280px;
    margin-left: -160px;
    text-align: center;
    font-weight: bold;
  }

  &__required {
    color: $required-color;
    margin-right: 15px;
  }

  &__photo-previews {
    padding: 0 20px 0 20px;
  }

  &__photo-preview {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 0 31px 45px 0;
    font-size: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__photo-preview:nth-child(3n) {
    margin-right: 0;
  }

  &__photo-preview-delete {
    position: absolute;
    top: -15px;
    left: 20px;
    background-color: $field-form-color;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    &:before, &:after {
      width: 14px;
      height: 2px;
      border-radius: 2px;
      background: #333333;
      opacity: 0.3;
      position: absolute;
      left: 8px;
      top: 13px;
      content: '';
      transform-origin: 50% 50%;
    }

    &:before {
      transform: rotate3d(0, 0, 1, 45deg);
    }

    &:after {
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }

  &__traveler {
    position: relative;

    &:before {
      content: '№';
      position: absolute;
      top: 3px;
      left: 24px;
    }

    label.field-text {
      margin: 0;
      padding-left: 67px;
    }
  }

  &__traveler-list {
    counter-reset: list;
    padding: 0;

    li {
      list-style-type: none;
      position: relative;
    }

    li:before {
      content: counter(list);
      counter-increment: list;
      position: absolute;
      top: 26px;
      width: 61px;
      background-color: $field-form-color;
      height: 56px;
      vertical-align: top;
      text-align: center;
      line-height: 58px;
      font-weight: bold;
    }
  }
}
