.form {
  padding: 0 20px;

  @media (min-width: $width-tablet) and (max-width: $width-desktop) {
    padding: 0 60px;
  }

  @media (min-width: $width-desktop) {
    padding: 0 122px;
  }

  &__fieldset {
    position: relative;
    border: 0;
    border-top: 1px solid #9ac2db;
    padding: 0;
    margin: 0;
  }

  &__fieldset legend {
    position: absolute;
    top: 21px;
    line-height: 24px;
    width: 100%;
    font-size: $html-text-size * 1.8;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    padding: 0 20px;

    @media(min-width: $width-tablet){
      font-size: 21px;
      line-height: 26px;
      width: 400px;
      top: -15px;
      background: #ffffff;
      left: 50%;
      margin-left: -200px;
    }
  }

  &__fieldset-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;

    @media (min-width: $width-tablet) {
      justify-content: center;
      margin-top: 25px;
      margin-bottom: 52px;
    }
  }

  &__radio-inner {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $width-tablet) and (max-width: $width-desktop) {
      justify-content: space-between;
      margin-top: 40px;
      margin-bottom: 34px;
    }

    @media (min-width: $width-desktop) {
      justify-content: center;
      margin-top: 40px;
      margin-bottom: 34px;
    }
  }

  &__checkbox-inner {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;

    @media (min-width: $width-tablet) and (max-width: $width-desktop) {
      justify-content: center;
      flex-wrap: wrap;
      padding-top: 42px;
      padding-bottom: 26px;
    }

    @media (min-width: $width-desktop) {
      justify-content: space-between;
      padding-top: 42px;
      padding-bottom: 40px;
    }
  }

  &__required {
    color: $required-color;
    margin-right: 15px;
  }

  &__photo-previews {
    display: flex;
    flex-wrap: wrap;
    margin-left: -35px;
    margin-bottom: 13px;

    @media(min-width: $width-tablet){
      margin: 0 auto;
    }

    @media(min-width: $width-desktop){
      margin: 0 0 0 -65px;
    }
  }

  &__photo-preview {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 0 0 35px 35px;
    font-size: 0;

    @media(min-width: $width-tablet){
      width: 140px;
      height: 140px;
      margin-left: 64px;
    }
  }
  &__photo-preview-img {
    height: 140px;
    width: 140px;
    display: block;
    background-size: cover;
  }

  &__photo-preview-descr {
    display: none;

    @media(min-width: $width-tablet){
      display: block;
      font-size: $html-text-size * 1.4;
    }
  }

  &__photo-preview-delete {
    position: absolute;
    top: -15px;
    left: 20px;
    background-color: $field-form-color;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    &:hover{
      background-color: $color-disabled;
    }

    &:active{
      background-color: $color-checked;
    }

    @media(min-width: $width-tablet){
      width: 60px;
      height: 60px;
      top: -30px;
      left: 110px;
    }

    &:before,
    &:after {
      width: 14px;
      height: 2px;
      border-radius: 2px;
      background: #333333;
      opacity: 0.3;
      position: absolute;
      left: 8px;
      top: 13px;
      content: '';
      transform-origin: 50% 50%;

      @media(min-width: $width-tablet){
        width: 30px;
        height: 3px;
        left: 15px;
        top: 28px;
      }
    }

    &:hover:before,
    &:hover:after {
      opacity: 0.5;
    }

    &:active:before,
    &:active:after {
      opacity: 0.1;
    }

    &:before {
      transform: rotate3d(0, 0, 1, 45deg);
    }

    &:after {
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }

  &__traveler {
    list-style-type: none;
    position: relative;
    margin-bottom: 21px;
    display: flex;
    flex-wrap: wrap;

    .field-text {
      margin: 0;
      padding-left: 67px;

      @media(min-width: $width-tablet) {
        padding: 0 20px 0 20px;

        &:first-of-type {
          padding: 0 40px 0 67px;
        }

        &:last-of-type {
          padding: 0 0 0 40px;
        }
      }


    }

    &:before {
      content: '№';
      position: absolute;
      top: 3px;
      left: 24px;
    }

    &:after {
      content: counter(list);
      counter-increment: list;
      position: absolute;
      top: 26px;
      left: 0;
      width: 61px;
      background-color: $field-form-color;
      height: 56px;
      vertical-align: top;
      text-align: center;
      line-height: 58px;
      font-weight: bold;
    }
  }

  &__traveler-list {
    counter-reset: list;
    padding: 0;
    margin-top: 25px;

    @media(min-width: $width-tablet) {
      margin-top: 14px;
      margin-bottom: 90px;
    }
  }
}
