.hotel {
  padding-bottom: 49px;

  &__header {
    font-size: $html-text-size*2.1;
    text-align: center;
    padding: 28px 0 19px 0;
  }

  &__descr {
    text-align: center;
    padding-bottom: 35px;
    line-height: 24px;
  }
}
