.page-header {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

  &__inner {
    margin: 0 auto;
  }

  &__logo-link {
    display: block;
    text-align: center;
    height: 70px;
    position: relative;
    z-index: 9;
    width: 138px;
    margin: 0 auto;
    background: url('../img/form-logo-triangle.svg') no-repeat 0 0;

    @media(min-width: $width-tablet) {
      margin-top: -62px;
    }
  }
}
