.page-footer {

  &__inner {
    margin-bottom: 23px;
    display: flex;
    flex-direction: column;

    @media(min-width: $width-tablet) {
      flex-direction: row;
      align-items: center;
      margin-bottom: 34px;
      margin-left: 45px;
    }
  }

  &__social {
  }

  &__search-link {
    display: block;
    font-size: $html-text-size * 2.1;
    line-height: 26px;
    color: $text-color-base;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 36px;

    @media(min-width: $width-tablet) {
      margin-bottom: 0;
      width: 33%;
    }
  }

  &__develop {
    text-align: center;
  }

  &__develop-icon {
    display: inline-block;
    vertical-align: middle;
    color: $text-color-base;
    text-decoration: none;
    background: $text-color-secondary url('../img/icon-develop.png') no-repeat top right;
    height: 34px;
    padding-right: 38px;
    line-height: 34px;
    margin: 0 auto;

    @media(min-width: $width-tablet) {
      width: 33%;
      margin-right: 45px;
      text-align: right;
    }
  }
}

