.page-footer {

  &__inner {
  }

  &__social {
  }

  &__search-link {
    display: block;
    font-size: $html-text-size * 2.1;
    line-height: 26px;
    color: $text-color-base;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 36px;
  }

  &__develop {
    margin-bottom: 23px;
    text-align: center;
  }

  &__develop-icon {
    display: inline-block;
    vertical-align: middle;
    color: $text-color-base;
    text-decoration: none;
    background: $text-color-secondary url('../img/icon-develop.png') no-repeat top right;
    height: 34px;
    padding-right: 38px;
    line-height: 34px;
  }
}

