.page-header {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

  &__inner {
    margin: 0 auto;
  }

  &__logo-link {
    display: block;
    text-align: center;
    height: 70px;
    position: relative;
    z-index: 9;
    width: 138px;
    margin: 0 auto;
  }
}

@media(min-width: 768px) {
  .page-header {

    &__logo-link {
      margin-top: -62px;
    }
  }
}
