html {
  box-sizing: border-box;
  font-size: $html-text-size;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*, :before, :after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  max-width: 1200px;

  font-family: $font-family;
  font-size: $font-size;
  line-height: 1.5em;
  font-weight: normal;

  margin: 0 auto;

  color: $text-color-base;
  background-color: $bg-color-base;

  text-transform: uppercase;
}

.content {
  padding: 0;
}

.content-blog {
  padding: 0;
}

.content-post {
  padding: 0;
}

h1, h2 {
  font-size: $font-size-header;
  line-height: 1.4em;
  font-weight: bold;

  margin: 0;

  text-transform: uppercase;
}

p{
  font-size: $font-size;
  line-height: 1.5em;
  font-weight: normal;

  margin: 0;

  text-transform: uppercase;
}

label {
  font-size: $font-size;
  line-height: 26px;
  width: 100%;
  display: inline-block;

  fieldset &:first-of-type {
    margin-top: 69px;

    @media (min-width: $width-tablet) {
      margin-top: 0;
    }
  }
}
