.post {
  padding: 35px 0 40px 0;

  & h2 {
    font-size: $html-text-size * 3;
    line-height: 1em;
    text-align: left;
    padding: 52px 0 35px 0;
  }
  & p {
    text-align: left;
  }

  & ul {
    margin: 0;
    padding: 35px 0;
  }

  & li {
    position: relative;
    list-style-type: none;
    padding-left: 17px;

    &:before {
      content: '';
      width: 7px;
      height: 7px;
      position: absolute;
      background-color: $bg-color-main;
      left: 0;
      top: 7px;

    }
  }
  & a {
    color: #766357;
  }

  & blockquote {
    border-left: 2px solid $bg-color-main ;
    text-align: left;
    padding: 0 0 0 18px;
    margin: 33px 0 0 0;

    & cite {
      display: block;
      color: #766357;
      text-transform: none;
    }
  }
}
