.reasons {

  &__item {
    padding: 27px 20px 0 20px;
    background-color: $bg-color-secondary;
    color: $text-color-base;

    @media(min-width: $width-tablet) {
      padding: 0;
    }

    @media(min-width: $width-tablet) {
      width: 33%;
      display: inline-block;
      vertical-align: middle;
    }

    &--bg-blue &-descr {
      text-align: center;
      padding: 0 20px 40px 20px;
    }

    &--bg-blue {
      padding: 40px 0 0 0;
      background-color: $bg-color-main;
      color: $text-color-secondary;

      @media(min-width: $width-tablet) {
        width: 100%;
        padding: 0;
      }
    }

    &:first-child {
      padding-top: 28px;

      @media(min-width: $width-tablet) {
        padding: 0;
      }
    }
  }

  &__item-text {
    @media(min-width: $width-tablet) {
      width: 33%;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__item-header {
    text-align: center;
    padding-bottom: 20px;
  }

  &__item-number {
    text-align: center;
    padding-bottom: 26px;
  }

  &__item-descr {
    text-align: center;
    padding: 0 20px 27px 20px;
  }

  &__item-photo {
    line-height: 0;
    text-align: center;

    @media(min-width: $width-tablet) {
      width: 66%;
      display: inline-block;
      vertical-align: middle;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__fact {
    padding: 30px 20px 20px 20px;
    background-color: $text-color-secondary;
    color: $text-color-base;

    @media(min-width: $width-tablet) {
      padding: 50px 0 0 0;
    }
  }

  &__fact-item {
    @media(min-width: $width-tablet) {
      padding: 103px 45px 50px 45px;
      display: inline-block;
      width: 33%;
      text-align: center;
    }


    &--icon-house {
      background: $text-color-secondary url('../img/icon-reasons.png') no-repeat 0 0;

      @media(min-width: $width-tablet) {
        background: $text-color-secondary url('../img/icon-reasons.png') no-repeat top center;
      }
    }

    &--icon-gift {
      background: $text-color-secondary url('../img/icon-reasons.png') no-repeat 0 68%;

      @media(min-width: $width-tablet) {
        background: $text-color-secondary url('../img/icon-reasons.png') no-repeat  top center;
      }
    }

    &--icon-food {
      background: $text-color-secondary url('../img/icon-reasons.png') no-repeat 0 123%;

      @media(min-width: $width-tablet) {
        background: $text-color-secondary url('../img/icon-reasons.png') no-repeat  top center;
      }
    }
  }


  &__fact-item-header {
    padding-left: 50px;
    font-size: $font-size-header;
    line-height: 51px;

    @media(min-width: $width-tablet) {
      padding: 0;
    }
  }

  &__fact-item-descr {
    padding-left: 50px;
    padding-bottom: 18px;
    line-height: 1.5em;

    @media(min-width: $width-tablet) {
      padding: 0;
    }
  }

  &__line {
    color: $line-color;
    width: 100%;
    margin: 0 auto;

    @media(min-width: $width-tablet) {
      display: none;
    }
  }
}
