.reasons {
  @media(min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    padding: 27px 20px 0 20px;
    background-color: $bg-color-secondary;
    color: $text-color-base;

    @media(min-width: $width-tablet) {
      padding: 0;
      display: inline-flex;
      width: 33%;
      flex-direction: row;
      flex-wrap: wrap;
      min-height: 255px;
      flex-grow: 1;
    }

    &--bg-blue &-descr {
      text-align: center;
      padding: 0 45px 40px 45px;

      @media(min-width: $width-tablet) {
        padding: 0 65px 40px 65px;
      }
    }

    &--bg-blue {
      padding: 40px 0 0 0;
      background-color: $bg-color-main;
      color: $bg-color-base;

      @media(min-width: $width-tablet) {
        padding: 0;
        width: 100%;
      }
    }

    &:first-child {
      @media(min-width: $width-tablet) {
        padding: 0;
        height: 100%;
      }
    }

    &:nth-child(2) {

      @media(min-width: $width-tablet) {
        flex-direction: row-reverse;
      }
    }
  }

  &__item-text {
    @media(min-width: $width-tablet) {
      width: 100%;
      display: block;
    }
  }

  &__item--bg-blue &__item-text {
    @media(min-width: $width-tablet) {
      width: 33%;
    }
  }

  &__item--bg-blue &__item-header {
    @media(min-width: $width-desktop) {
      padding: 50px 110px 10px 110px;
    }
  }

  &__item-header {
    text-align: center;
    padding-bottom: 10px;

    @media(min-width: $width-tablet) {
      font-size: $html-text-size * 2.1;
      padding: 45px 51px 10px 51px;
      line-height: 1.3em;
    }

    @media(min-width: $width-desktop) {
      padding: 46px 120px 10px 120px;
      line-height: 26px;
    }
  }

  &__item-number {
    text-align: center;
    padding-bottom: 15px;

    @media(min-width: $width-tablet) {
      padding-bottom: 22px;
    }
  }

  &__item-descr {
    text-align: center;
    padding: 0 10px 26px 10px;

    @media(min-width: $width-tablet) {
      padding: 0 49px 26px 49px;
    }
  }

  &__item-photo {
    width: 100%;
    min-height: 255px;
    background: url('../img/photo-city.jpg') no-repeat 100% 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/photo-city-2x.jpg");
    }

    @media(min-width: $width-tablet) {
      width: 67%;
      display: block;
      text-align: right;
    }
  }

  &__item:nth-child(2) &__item-photo {
    background: url('../img/photo-bridge.jpg') no-repeat 0 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/photo-bridge-2x.jpg");
    }


    @media(min-width: $width-tablet) {
      width: 67%;
      text-align: left;
    }
  }

  &__fact {
    padding: 30px 20px 20px 20px;
    background-color: $bg-color-base;
    color: $text-color-base;

    @media(min-width: $width-tablet) {
      padding: 58px 0 0 0;
      min-height: 330px;
      display: flex;
      justify-content: space-around;
    }
  }

  &__fact-item {
    @media(min-width: $width-tablet) {
      padding: 90px 30px 0 30px;
      display: inline-block;
      vertical-align: middle;
      width: 33%;
      text-align: center;
    }


    &--icon-house {
      background: $bg-color-base url('../img/icon-house.svg') no-repeat 0 0;
      background-size: 37px, 37px;

      @media(min-width: $width-tablet) {
        background: $bg-color-base url('../img/icon-house.svg') no-repeat top center;
        background-size: 74px, 74px;
        order: 1;
      }
    }

    &--icon-gift {
      background: $bg-color-base url('../img/icon-gift.svg') no-repeat 0 0;
      background-size: 37px, 37px;

      @media(min-width: $width-tablet) {
        background: $bg-color-base url('../img/icon-gift.svg') no-repeat  top center;
        background-size: 74px, 74px;
        order: 2;
      }
    }

    &--icon-food {
      background: #ffffff url("../img/icon-burger.svg") no-repeat -2px 5px;
      background-size: 37px, 37px;

      @media(min-width: $width-tablet) {
        background: $bg-color-base url('../img/icon-burger.svg') no-repeat  top center;
        background-size: 74px, 74px;
        order: 1;
      }
    }
  }


  &__fact-item-header {
    padding-left: 50px;
    font-size: $font-size-header;
    line-height: 45px;

    @media(min-width: $width-tablet) {
      padding: 0;
      font-size: $html-text-size * 2.1;
    }
  }

  &__fact-item-descr {
    padding: 4px 25px 18px 48px;
    line-height: 1.5em;

    @media(min-width: $width-tablet) {
      padding: 0 14px 0 14px;
      margin-top: 14px;
    }
  }

  &__line {
    border-color: #d6d6d6;
    width: 100%;
    margin: 0 auto;

    @media(min-width: $width-tablet) {
      display: none;
    }
  }
}
