.reasons {

  &__item {
    padding: 27px 20px 0 20px;
    background-color: $bg-color-secondary;
    color: $text-color-base;

    &--bg-blue &-descr {
      text-align: center;
      padding: 0 20px 40px 20px;
    }

    &--bg-blue {
      padding: 40px 0 0 0;
      background-color: $bg-color-main;
      color: $text-color-secondary;
    }

    &:first-child {
      padding-top: 28px;
    }
  }

  &__item-header {
    text-align: center;
    padding-bottom: 20px;
  }

  &__item-number {
    text-align: center;
    padding-bottom: 26px;
  }

  &__item-descr {
    text-align: center;
    padding: 0 20px 27px 20px;
  }

  &__item-photo {
    line-height: 0;
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__fact {
    padding: 30px 20px 20px 20px;
    background-color: $text-color-secondary;
    color: $text-color-base;
  }

  &__fact-item {


    &--icon-house {
      background: $text-color-secondary url('../img/icon-reasons.png') no-repeat 0 0;
    }

    &--icon-gift {
      background: $text-color-secondary url('../img/icon-reasons.png') no-repeat 0 68%;
    }

    &--icon-food {
      background: $text-color-secondary url('../img/icon-reasons.png') no-repeat 0 123%;
    }
  }


  &__fact-item-header {
    padding-left: 50px;
    font-size: $font-size-header;
    line-height: 51px;
  }

  &__fact-item-descr {
    padding-left: 50px;
    padding-bottom: 18px;
    line-height: 1.5em;
  }

  &__line {
    color: $line-color;
    width: 100%;
    margin: 0 auto;
  }
}


