/* cyrillic */
@font-face {
  font-weight: 400;
  font-family: "PT Sans";
  font-style: normal;

  src: url("../fonts/PTSans-cyrillic-400.woff2") format("woff2"),
  url("../fonts/PTSans-400.woff") format("woff");
}

/* latin */
@font-face {
  font-weight: 400;
  font-family: "PT Sans";
  font-style: normal;

  src: url("../fonts/PTSans-latin-400.woff2") format("woff2"),
  url("../fonts/PTSans-400.woff") format("woff");
}

/* cyrillic */
@font-face {
  font-weight: 700;
  font-family: "PT Sans";
  font-style: normal;

  src: url("../fonts/PTSans-cyrillic-700.woff2") format("woff2"),
  url("../fonts/PTSans-700.woff") format("woff");
}

/* latin */
@font-face {
  font-weight: 700;
  font-family: "PT Sans";
  font-style: normal;

  src: url("../fonts/PTSans-latin-700.woff2") format("woff2"),
  url("../fonts/PTSans-700.woff") format("woff");
}

/* cyrillic */
@font-face {
  font-weight: 400;
  font-family: "PT Sans";
  font-style: italic;

  src: url("../fonts/PTSans-cyrillic-italik-400.woff2") format("woff2"),
  url("../fonts/PTSans-italik-400.woff") format("woff");
}

/* latin */
@font-face {
  font-weight: 400;
  font-family: "PT Sans";
  font-style: italic;

  src: url("../fonts/PTSans-latin-italik-400.woff2") format("woff2"),
  url("../fonts/PTSans-italik-400.woff") format("woff");
}
