.blog-tag {
  display: inline-block;
  padding-left: 20px;

  vertical-align: middle;

  background: url("../img/icon-tag.png") no-repeat 0 center;

  &__item {
    display: inline-block;

    vertical-align: middle;
    color: #999999;
    text-decoration: none;
  }
}
