.btn {
  display: block;
  height: 57px;

  font-weight: bold;
  font-size: $html-text-size * 2.1;
  line-height: 57px;
  text-align: center;
  color: $bg-color-base;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $bg-color-main;
  border: 0;

  &:hover {
    color: $bg-color-base;

    background-color: $bg-color-hover;
  }

  &:active {
    color: #94b9d2;

    background-color: $color-active;
  }

  &--disabled {
    background-color: $color-disabled;
  }

  &--hotel {
    margin: 0 20px;

    @media (min-width: $width-tablet) {
      width: 458px;
      margin: 0 auto;
    }
  }

  &--feedback {
    width: 280px;
    margin: 0 20px 116px 20px;

    &:focus {
      outline: none;
    }

    @media (min-width: $width-tablet) {
      width: 458px;
      margin: 27px auto 140px auto;
    }

    @media (min-width: $width-desktop) {
      margin: 27px auto 105px auto;
    }
  }

  &--modal {
    width: 100%;
    margin: 0 0 35px 0;
  }
}
