.btn-social {
  display: inline-block;
  vertical-align: middle;
  line-height: 44px;
  width: 46px;
  height: 48px;
  margin-right: 3px;
  background-color: $bg-color-main;

  &:hover {
    background-color: $bg-color-hover;
    color: $bg-color-main;
  }

  &:active{
    background-color: $color-active;
  }

  &:active svg {
    opacity: 0.3;
  }

  & svg {
    display: inline-block;
    vertical-align: middle;
    fill: #ffffff;
  }
}
