.btn-social {
  display: inline-block;
  width: 46px;
  height: 48px;
  margin-right: 3px;

  line-height: 44px;
  vertical-align: middle;

  background-color: $bg-color-main;

  &:hover {
    color: $bg-color-main;

    background-color: $bg-color-hover;
  }

  &:active {
    background-color: $color-active;
  }

  &:active svg {
    opacity: 0.3;
  }

  & svg {
    display: inline-block;

    vertical-align: middle;

    fill: #ffffff;
  }
}
