.field-text {
  width: 100%;
  padding: 0 0 16px 0;

  @media (min-width: $width-tablet) {
    width: 33%;
    padding: 0 20px 20px 20px;

    &:first-of-type {
      padding: 0 40px 20px 0;
    }

    &:last-of-type {
      padding: 0 0 20px 40px;
    }
  }

  &__title {
    padding-left: 20px;

    @media (min-width: $width-tablet) and (max-width: $width-desktop) {
      padding-left: 15px;
    }

    &--show-tablet {
      display: none;

      @media (min-width: $width-tablet) and (max-width: $width-desktop) {
        display: inline-block;
      }
    }

    &--show-mobil {
      @media (min-width: $width-tablet) and (max-width: $width-desktop) {
        display: none;
      }
    }

    @media (min-width: $width-tablet) and (max-width: $width-desktop) {
      display: inline-block;
    }
  }


  & input {
    display: block;
    width: 100%;
    height: 56px;
    margin-top: 6px;
    padding-left: 17px;

    font-weight: bold;
    font-size: 16px;
    color: $text-color-base;

    background-color: $field-form-color;
    border: 4px solid $field-form-color;


    &:hover {
      background-color: $color-disabled;
      border: 4px solid $color-disabled;
    }

    &:focus {
      background-color: $bg-color-base;
      border: 4px solid $color-disabled;
      outline: none;
    }
  }

  &--center:first-of-type {
    margin-top: 64px;

    @media (min-width: $width-tablet) {
      width: 100%;
      margin-top: 37px;
      padding-left: 0;

      text-align: center;
    }

    @media (min-width: $width-desktop) {
      margin-top: 37px;
      padding-right: 40px;
      padding-left: 0;

      text-align: left;;
    }
  }
}
