.field-text {
  width: 100%;
  padding: 0 0 16px 0;

  @media (min-width: $width-tablet) {
    width: 33%;
    padding: 0 20px 20px 20px;

    &:first-of-type {
      padding: 0 40px 20px 0;
    }

    &:last-of-type {
      padding: 0 0 20px 40px;
    }
  }

  &__title {
    padding-left: 20px;

    @media (min-width: $width-tablet) and (max-width: $width-desktop) {
      padding-left: 15px;
    }

    &--show-tablet {
      display: none;

      @media (min-width: $width-tablet) and (max-width: $width-desktop) {
        display: inline-block;
      }
    }

    &--show-mobil {
      @media (min-width: $width-tablet) and (max-width: $width-desktop) {
        display: none;
      }
    }

    @media (min-width: $width-tablet) and (max-width: $width-desktop) {
        display: inline-block;
    }
  }


  & input {
    display: block;
    background-color: $field-form-color;
    height: 56px;
    width: 100%;
    color: $text-color-base;
    border: 4px solid $field-form-color;

    padding-left: 17px;
    margin-top: 6px;
    font-size: 16px;
    font-weight: bold;


    &:hover {
      background-color: $color-disabled;
      border: 4px solid $color-disabled;

    }

    &:focus{
      background-color: $bg-color-base;
      border: 4px solid $color-disabled;
      outline: none;
    }
  }

  &--center:first-of-type {
    margin-top: 64px;

    @media (min-width: $width-tablet) {
      padding-left: 0;
      text-align: center;
      width: 100%;
      margin-top: 37px;
    }

    @media (min-width: $width-desktop) {
      padding-left: 0;
      padding-right: 40px;
      margin-top: 37px;;
      text-align: left;
    }
  }
}

