.field-checkbox {
  display: inline-block;

  vertical-align: middle;

  cursor: pointer;

  @media (min-width: $width-tablet) and (max-width: $width-desktop) {
    width: 36%;
    margin-left: 30px;
    padding-bottom: 7px;
  }

  @media (min-width: $width-desktop) {
    width: auto;
  }

  &:nth-of-type(1) {
    @media (min-width: $width-tablet) and (max-width: $width-desktop) {
      order: 1;
    }
  }

  &:nth-of-type(2) {
    @media (min-width: $width-tablet) and (max-width: $width-desktop) {
      order: 3;
    }
  }

  &:nth-of-type(3) {
    @media (min-width: $width-tablet) and (max-width: $width-desktop) {
      order: 2;
    }
  }

  &:nth-of-type(4) {
    @media (min-width: $width-tablet) and (max-width: $width-desktop) {
      order: 4;
    }
  }

  span {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 38px;
    padding-left: 19px;

    font-size: $html-text-size * 1.8;
    vertical-align: top;
    text-transform: none;
  }

  &:before {
    content: "";

    display: inline-block;
    width: 56px;
    height: 56px;

    line-height: 56px;

    background-color: $field-form-color;
    border-radius: 3px;
  }

  &:hover:before {
    background-color: $color-disabled;
  }

  &:active:before {
    background-color: $color-checked;
  }

  input[type="checkbox"]:checked + &:before {
    content: "";

    background: $field-form-color url("../img/icon-checkbox.png") no-repeat 50% 50%;
  }

  input[type="checkbox"]:checked + &:hover:before {
    background-color: $color-disabled;
  }

  input[type="checkbox"]:checked + &:active:before {
    background-color: rgba(213, 213, 213, 1);
    opacity: 0.3;
  }
}

input[type="checkbox"] {
  display: none;
}
