.form {
  padding: 0;

  background-color: $bg-color-base;

  @media (min-width: $width-tablet) {
    padding: 0 60px;
  }

  @media (min-width: $width-desktop) {
    padding: 0 122px;
  }

  &__fieldset {
    position: relative;

    margin: 0;
    padding: 0 20px;

    border: 0;
    border-top: 1px solid #9ac2db;

    @media (min-width: $width-tablet) {
      padding: 0;
    }
  }

  &__fieldset legend {
    position: absolute;
    top: 21px;

    width: 280px;
    margin: 0 auto;

    font-weight: bold;
    font-size: $html-text-size * 1.8;
    line-height: 24px;
    text-align: center;

    @media (min-width: $width-tablet) {
      top: -15px;
      left: 50%;

      width: 400px;
      margin-left: -200px;

      font-size: 21px;
      line-height: 26px;

      background: #ffffff;
    }
  }


  &__fieldset-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 68px 0 8px 0;

    @media (min-width: $width-tablet) {
      justify-content: center;
      margin: 36px 0 59px 0;
    }
  }

  &__radio-inner {
    display: flex;
    flex-wrap: wrap;
    margin: 67px 0 8px 0;

    @media (min-width: $width-tablet) {
      justify-content: space-between;
      margin-top: 52px;
      margin-bottom: 54px;
    }

    @media (min-width: $width-desktop) {
      justify-content: center;
      margin-top: 54px;
      margin-bottom: 52px;
    }
  }

  &__checkbox-inner {
    display: flex;
    flex-wrap: wrap;
    padding-top: 86px;

    @media (min-width: $width-tablet) {
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 67px;
      padding-bottom: 42px;
    }

    @media (min-width: $width-desktop) {
      justify-content: space-between;
      padding-top: 72px;
      padding-bottom: 57px;
    }
  }

  &__required {
    margin-right: 15px;

    color: $required-color;

    @media (min-width: $width-desktop) {
      margin: 0;
    }
  }

  &__photo-previews {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 13px;
    margin-left: -35px;

    @media(min-width: $width-tablet) {
      margin: 0 auto;
    }

    @media (min-width: $width-desktop) {
      margin: 0 0 0 -65px;
    }
  }

  &__photo-preview {
    position: relative;

    display: inline-block;
    margin: 0 0 35px 35px;

    font-size: 0;
    vertical-align: middle;

    @media (min-width: $width-tablet) {
      margin: 0 30px 69px 35px;
    }

    @media (min-width: $width-tablet) {
      margin: 0 0 69px 64px;
    }
  }
  &__photo-preview-img {
    display: block;
    width: 70px;
    height: 70px;

    background-size: cover;

    @media (min-width: $width-tablet) {
      width: 140px;
      height: 140px;
    }
  }

  &__photo-preview-descr {
    display: none;

    @media (min-width: $width-tablet) {
      display: block;
      width: 140px;
      padding-top: 18px;

      font-size: $html-text-size * 1.4;
      word-break: break-all;
    }
  }

  &__photo-preview-delete {
    position: absolute;
    top: -15px;
    left: 20px;

    width: 30px;
    height: 30px;

    background-color: $field-form-color;
    border-radius: 50%;

    &:hover {
      background-color: $color-disabled;
    }

    &:active {
      background-color: $color-checked;
    }

    @media (min-width: $width-tablet) {
      top: -30px;
      left: 110px;

      width: 60px;
      height: 60px;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 13px;
      left: 8px;

      width: 14px;
      height: 2px;

      background: #333333;
      border-radius: 2px;
      transform-origin: 50% 50%;
      opacity: 0.3;

      @media (min-width: $width-tablet) {
        top: 28px;
        left: 15px;

        width: 30px;
        height: 3px;
      }
    }

    &:hover:before,
    &:hover:after {
      opacity: 0.5;
    }

    &:active:before,
    &:active:after {
      opacity: 0.1;
    }

    &:before {
      transform: rotate3d(0, 0, 1, 45deg);
    }

    &:after {
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }

  &__traveler {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;

    list-style-type: none;

    @media (min-width: $width-tablet) {
      margin-bottom: 30px;
    }

    @media (min-width: $width-desktop) {
      margin-bottom: 37px;
    }

    &:last-of-type {
      margin-bottom: 9px;
    }

    & > .field-text {
      margin: 0;
      padding-left: 67px;

      @media (min-width: $width-tablet) and (max-width: $width-desktop) {
        width: 29%;
        margin-right: 5px;
        padding: 0;

        &:first-of-type {
          width: 29%;
          margin-right: 5px;
          margin-left: 67px;
          padding: 0;
        }

        &:last-of-type {
          width: 29%;
          margin: 0;
          margin-right: 5px;
          padding: 0;
        }
      }

      @media (min-width: $width-desktop) {
        padding: 0 20px 0 20px;

        &:first-of-type {
          padding: 0 40px 0 67px;
        }

        &:last-of-type {
          padding: 0 0 0 40px;
        }
      }
    }

    &:before {
      content: "№";
      position: absolute;
      top: 3px;
      left: 24px;
    }

    &:after {
      content: counter(list);
      position: absolute;
      top: 32px;
      left: 0;

      width: 61px;
      height: 56px;

      font-weight: bold;
      font-size: $html-text-size * 1.8;
      line-height: 58px;
      vertical-align: top;
      text-align: center;

      background-color: $field-form-color;

      counter-increment: list;
    }
  }

  &__traveler-list {
    margin-top: 22px;
    margin-bottom: 9px;
    padding: 0;

    counter-reset: list;

    @media (min-width: $width-tablet) {
      margin-top: 14px;
      margin-bottom: 90px;
    }

    @media (min-width: $width-desktop) {
      margin-bottom: 78px;
    }

    input {
      margin-top: 0;
    }
  }
}
