.main-nav {
  display: none;
  background-color: $bg-color-base;

  &--show {
    display: block;
  }

  @media(min-width: 768px) {
    background-color: $bg-color-base;
    display: block;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    @media(min-width: 768px) {
      display: flex;
      width: 100%;
    }
  }

  &__item{

    @media(min-width: 768px) {
      width: 20%;
      display: inline-block;
      vertical-align: middle;
    }

    &:last-child a{
      box-shadow:inset 0 -30px 30px -30px rgba(0, 0, 0, 0.2);

      @media(min-width: 768px) {
        box-shadow: none;
      }
    }

    &:nth-child(2),
    &:nth-child(3) {
      @media(min-width: 768px) {
        order: 1;
      }
    }

    &:nth-child(1),
    &:nth-child(4) {
      @media(min-width: 768px) {
        order: 2;
      }
    }

    &:nth-child(3) {
      @media(min-width: 768px) {
        margin-right: 10%;
      }
    }

    &:nth-child(1) {
      @media(min-width: 768px) {
        margin-left: 10%;
      }
    }

    a {
      display: inline-block;
      vertical-align: middle;
      line-height: 56px;
      width: 100%;
      height: 56px;

      color: $bg-color-base;
      font-size: $font-size-header;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;

      background-color: $bg-color-main;
      border-top: 1px solid $border-color-light;
      border-bottom: 1px solid $border-color-dark;

      &:hover {
        background-color: $bg-color-hover;
      }

      &:active{
        background-color: $color-active;
        color: rgba(255, 255, 255, 0.3);
      }

      @media(min-width: $width-tablet) {
        color: $text-color-base;
        font-size: $font-size;

        background-color: $bg-color-base;
        border: 0;

        &:hover {
          background-color: $bg-color-base;
          color: $bg-color-main;
        }

        &:active{
          background-color: $bg-color-base;
          opacity: 0.3;
        }
      }
    }

    &--active {
      a {
        @media(min-width: 768px) {
          color: #766357;

          &:hover {
            color: #604e43;
          }

          &:active{
            opacity: 0.3;
          }
        }
      }
    }
  }

  &__toggle {
    position: absolute;
    bottom: 33px;
    right: 20px;
    display: flex;
    align-items: center;
    width: 23px;
    height: 22px;
    line-height: 22px;
    user-select: none;

    @media(min-width: 768px) {
      display: none;
    }

    > span {
      display: inline-block;
      vertical-align: bottom;
      width: 100%;
      height: 4px;
      background: $bg-color-main;
      position: relative;

      &:before,
      &:after {
        width: 100%;
        height: 4px;
        background: $bg-color-main;
        position: absolute;
        left: 0;
        content: '';
        transform-origin: 50% 50%;
      }

      &:before {
        top: 1rem;
      }

      &:after {
        top: -1rem;
      }
    }


    &--close {
      top: 16px;
      > span {
        background: transparent;

        &:before,
        &:after {
          top: 0;
          background: #ffffff;

        }

        &:before {
          transform: rotate3d(0, 0, 1, 45deg);
        }

        &:after {
          transform: rotate3d(0, 0, 1, -45deg);
        }
      }
    }
  }
}
