.map {
  width: 100%;
  height: 350px;
  margin: 0 auto 36px auto;

  @media(min-width: $width-tablet) {
    margin-bottom: 33px;
  }

  @media(min-width: $width-desktop) {
    margin-bottom: 0;
  }
}
