.modal {
  position: fixed;
  top: 100px;
  z-index: 10;

  display: none;
  width: 100%;
  height: auto;
  padding-top: 42px;

  text-align: center;
  text-transform: uppercase;

  background-color: $bg-color-base;
  box-shadow: 0 7px 15px 0 rgba(0,0,0,0.15);

  @media(min-width: $width-tablet) {
    left: 50%;

    width: 400px;
    margin-left: -200px;
  }

  &--show {
    display: block;
  }

  &__title {
    display: inline-block;
    margin-bottom: 30px;

    font-size: $html-text-size * 1.8;
    line-height: 26px;
    vertical-align: middle;
  }

  &__descr {
    margin-bottom: 24px;

    line-height: 24px;
  }

  &__button {
    padding: 0 70px;
  }

  &--success {
    top: 10px;
  }

  &--failure {
    top: 250px;
  }
}
