html {
  box-sizing: border-box;
  font-size: $html-text-size;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*, :before, :after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  width: 100%;

  font-family: $font-family;
  font-size: $font-size;
  line-height: 1.5em;
  font-weight: normal;

  margin: 0 auto;

  color: $text-color-base;
  background-color: $bg-color-base;

  text-transform: uppercase;

  @media(min-width: $width-desktop) {
    background-color: $field-form-color;
  }
}

.content {
  background-color: $bg-color-base;

  @media (min-width: $width-desktop) {
    width: 1200px;
    margin: 0 auto;
    box-shadow:
    10px 0 15px -5px rgba(0, 0, 0, 0.15),
    -10px 0 15px -5px rgba(0, 0, 0, 0.15);
  }
}

.form-content {
  background-color: $bg-color-base;
}

.content-blog {
  background-color: $bg-color-base;
}


h1, h2 {
  font-size: $font-size-header;
  line-height: 1.4em;
  font-weight: bold;

  margin: 0;

  text-transform: uppercase;
}

p{
  font-size: $font-size;
  line-height: 1.5em;
  font-weight: normal;

  margin: 0;

  text-transform: uppercase;
}

label {
  font-size: $font-size;
  line-height: 26px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
