.page-footer {
  background-color: $bg-color-base;


  &__inner {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;

    @media (min-width: $width-tablet) {
      flex-direction: row;
      align-items: center;
      margin: 0 37px 0 10px;
      padding-bottom: 38px;
    }

    @media (min-width: $width-desktop) {
      margin-bottom: 0;
      padding: 0 0 23px 0;
    }
  }


  &__search-link {
    display: block;
    margin-bottom: 36px;

    font-weight: bold;
    font-size: $html-text-size * 2.1;
    line-height: 26px;
    text-align: center;
    color: $text-color-base;
    text-decoration: none;

    @media (min-width: $width-tablet) {
      width: 33%;
      margin-bottom: 0;
    }
  }

  &__develop {
    text-align: center;
  }

  &__develop-icon {
    display: inline-block;
    height: 34px;
    margin: 0 auto;
    padding: 5px 6px 0 0;

    line-height: 34px;
    vertical-align: middle;
    color: $text-color-base;
    text-decoration: none;

    & svg {
      display: inline-block;
      margin-left: 7px;

      vertical-align: middle;
    }

    &:hover svg {
      fill: $bg-color-main;
    }

    &:active svg {
      fill: #b2b2b2;
    }

    @media (min-width: $width-tablet) {
      width: 33%;
      padding: 0;

      text-align: right;
    }
  }
}
