html {
  box-sizing: border-box;

  font-size: $html-text-size;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
:before,
:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;

  font-weight: normal;
  font-size: $font-size;
  line-height: 1.5em;
  font-family: $font-family;
  color: $text-color-base;
  text-transform: uppercase;

  background-color: $bg-color-base;

  @media(min-width: $width-desktop) {
    background-color: $field-form-color;
  }
}

.content {
  background-color: $bg-color-base;

  @media (min-width: $width-desktop) {
    width: 1200px;
    margin: 0 auto;

    box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.15),
    -10px 0 15px -5px rgba(0, 0, 0, 0.15);
  }
}

.form-content {
  background-color: $bg-color-base;
}

.content-blog {
  background-color: $bg-color-base;
}


h1,
h2 {
  margin: 0;

  font-weight: bold;
  font-size: $font-size-header;
  line-height: 1.4em;
  text-transform: uppercase;
}

p {
  margin: 0;

  font-weight: normal;
  font-size: $font-size;
  line-height: 1.5em;
  text-transform: uppercase;
}

label {
  display: inline-block;
  width: 100%;

  font-size: $font-size;
  line-height: 26px;
  vertical-align: middle;
}
