.paginator {
  display: block;
  margin-bottom: 17px;
  padding: 38px 20px;

  font-size: 0;
  vertical-align: middle;

  border-top: 2px solid #dbdbdb;
  border-bottom: 2px solid #dbdbdb;

  @media (min-width: $width-tablet) {
    padding: 38px 0;

    border: 0;
  }

  &__list {
    display: inline-block;

    vertical-align: middle;

    @media (min-width: $width-desktop) {
      width: 33%;
    }
  }

  &__item {
    display: inline-block;
    width: 58px;
    height: 58px;
    margin: 0 16px 16px 0;

    font-size: $html-text-size * 2.1;
    line-height: 58px;
    vertical-align: middle;
    text-align: center;
    color: $bg-color-base;
    text-decoration: none;

    background-color: $bg-color-main;

    &:hover {
      color: $bg-color-base;

      background-color: $bg-color-hover;
    }

    &:active {
      color: #94b9d2;

      background-color: $color-active;
    }

    @media (min-width: $width-tablet) and (max-width: $width-desktop) {
      margin: 0 16px 0 0;
    }
  }

  &__item--active {
    color: $text-color-base;

    background-color: #e5e5e5;

    &:hover {
      color: $text-color-base;

      background-color: #e5e5e5;
    }

    &:active {
      color: $text-color-base;

      background-color: #e5e5e5;
    }
  }

  &__item-title {
    display: none;

    @media (min-width: $width-tablet) and (max-width: $width-desktop) {
      display: inline-block;
      padding-right: 67px;
      padding-left: 5.5%;

      font-weight: bold;
      font-size: $html-text-size * 2.1;
      vertical-align: baseline;
    }

    @media (min-width: $width-desktop) {
      display: inline-block;
      width: 33%;
      padding-right: 0;

      font-weight: bold;
      font-size: $html-text-size * 2.1;
      vertical-align: baseline;
      text-align: center;
    }
  }
}
