.post-paginator {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 52px;
  padding: 45px 20px;

  font-size: 0;

  border-top: 2px solid #dbdbdb;
  border-bottom: 2px solid #dbdbdb;

  @media (min-width: $width-tablet) {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 45px 47px;

    border: 0;
  }

  @media (min-width: $width-desktop) {
    padding: 45px 200px;
  }

  &__item {
    display: inline-block;
    width: 47%;
    height: 58px;
    margin: 0 0 20px 0;

    font-weight: bold;
    font-size: $html-text-size * 2.1;
    line-height: 58px;
    vertical-align: middle;
    text-align: center;
    color: $text-color-base;
    text-decoration: none;

    background-color: $bg-color-base;
    border: 2px solid $bg-color-main;

    &--show-tablet {
      display: none;

      @media (min-width: $width-tablet) {
        display: inline-block;
      }
    }

    &:hover {
      color: $bg-color-base;

      background-color: $bg-color-hover;
      border: 2px solid $bg-color-hover;
    }

    &:active {
      color: #94b9d2;

      background-color: $color-active;
      border: 2px solid $color-active;
    }

    &:nth-child(1) {
      margin-right: 6%;

      @media (min-width: $width-tablet) {
        order: 1;
        margin-right: 0;
      }
    }

    &:nth-child(2) {
      @media (min-width: $width-tablet) {
        order: 3;
      }
    }

    &:nth-child(3) {
      @media (min-width: $width-tablet) {
        order: 2;
      }
    }

    @media (min-width: $width-tablet) {
      width: 211px;
    }
  }

  &__item--back-to-list {
    width: 100%;

    @media (min-width: $width-tablet) {
      width: 211px;
    }
  }
}
