.promo-sedona {
  background-color: $bg-color-base;

  &__about {
    &:after {
      content: "";

      display: block;
      width: 100%;
      height: 37px;

      background: $bg-color-main url("../img/triangle.png") no-repeat 50% top;

      @media (min-width: $width-tablet) {
        display: none;
      }
    }
  }

  &__about-img {
    position: relative;

    width: 100%;
    height: 390px;
    margin: -14px 0 38px 0;
    overflow: hidden;

    font-size: 0;
    text-align: center;

    background: #ffffff url("../img/bg-index.jpg") no-repeat 50% top;
    background-size: auto 390px;

    @media (-webkit-min-device-pixel-ratio: 1.5),
    (min-resolution: 144dpi) {
      background-image: url("../img/bg-index-2x.jpg");
    }

    @media (min-width: $width-tablet) {
      height: 512px;
      margin-bottom: 53px;

      background: #ffffff url("../img/bg-index-tablet.jpg") no-repeat 50% top;
      background-size: auto 512px;
    }

    @media (min-width: $width-desktop) {
      height: 509px;

      background: #ffffff url("../img/bg-index-desktop.jpg") no-repeat 50% top;
      background-size: auto 509px;
    }

    @media (-webkit-min-device-pixel-ratio: 1.5) and (min-width: $width-tablet),
    (min-resolution: 144dpi) and (min-width: $width-tablet) {
      background-image: url("../img/bg-index-tablet-2x.jpg");
    }

    @media (-webkit-min-device-pixel-ratio: 1.5) and (min-width: $width-desktop),
    (min-resolution: 144dpi) and (min-width: $width-desktop) {
      background-image: url("../img/bg-index-desktop-2x.jpg");
    }
  }

  &__img-sedona {
    position: absolute;

    width: 100%;
    height: 294px;
    margin-top: 47px;

    background: transparent url("../img/logo-sedona-mobil.svg") no-repeat 50% 100%;

    @media (min-width: $width-tablet) {
      height: 352px;
      margin-top: 76px;

      background: transparent url("../img/logo-sedona.svg") no-repeat 50% 100%;
    }

    @media (min-width: $width-desktop) {
      background: transparent url("../img/logo-sedona.svg") no-repeat 50% 100%;
    }
  }

  &__img-triangle {
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 768px;
    height: 37px;
    margin-left: -384px;

    background: transparent url("../img/intro-triangle.svg") no-repeat 50% 100%;
    background-size: contain;

    @media (min-width: $width-tablet) {
      left: 0;

      width: 100%;
      height: inherit;
      margin-left: 0;

      background: transparent url("../img/intro-triangle.svg") no-repeat 50% 100%;
      background-size: contain;
    }

    @media (min-width: $width-desktop) {
      height: 57px;

      background: transparent url("../img/intro-triangle.svg") no-repeat 50% 100%;
      background-size: contain;
    }
  }

  &__about-header {
    margin-bottom: 4px;

    text-align: center;

    @media (min-width: $width-tablet) {
      margin-bottom: 49px;
    }
  }

  &__about-title {
    margin-bottom: 33px;
    padding: 0 30px;

    @media (min-width: $width-tablet) {
      width: 500px;
      margin: 27px auto 27px auto;

      font-size: 2.1rem;
    }

    @media (min-width: $width-desktop) {
      margin: 55px auto 30px auto;
    }
  }

  &__about-text {
    padding: 0 20px;

    line-height: 1.8em;
    text-align: center;
  }
}
