.social-links {
  margin-bottom: 35px;

  text-align: center;

  @media (min-width: $width-tablet) {
    width: 33%;
    margin-bottom: 0;
    padding-left: 38px;
  }

  @media (min-width: $width-desktop) {
    padding-left: 42px;
  }
}
